body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-image: url('./flappybirdbg.png');
}

#gameOverModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 2px solid #ccc;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

#highestScore {
    font-weight: bold;
    color: red; /* Style the highest score text as needed */
}